@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  display: flex;
  justify-content: center;
  background-color: gray;
}
body {
  position: relative;
  width: 360px;
  height: 100vh;
  background-color: white;
  overflow: hidden;
  /* 네비게이션바 크기와 동일하게 설정하면 되는 값 */
  padding-bottom: 64px;
}
